<% provide(:title, 'About') %>
<div class="about">
	<h1>About Us</h1>
	<p>
		<b>Space Party</b> - social network for patry-goers and people, who likes having a lot of fun!
	</p>
	<p>
		With us already <%= link_to "#{@cnt} users", users_path %>
	<p>
</div>