<% provide(:title, 'Help') %>
<div class="help-page">
	<h1>Help Page</h1>
	<p>Have an issue? Listen <i>Yung Lean</i> and find answer on your issue! :)</p>
	<p>And also, <%= link_to "join us!", signup_path %></p>
</div>