@import "bootstrap";
@import "bootstrap-sprockets";

/* Vars */

$gray-medium-light: #eaeaea;
$blue: #3232ff;
/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
}

#profile
{
  align: center;
  text-align: center;
  input {
    margin: 20px 0;
    padding: 7px 40px;
  }
  textarea {
    margin-top: 10px;
  }
  .alert-danger {
    margin-top: 25px;
  }
  
}

/* Forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 18px 10px;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    overflow: auto;
    padding: 3px 0;
    border-top: 1px solid $gray-lighter;
    .avatar {
      margin: 3px 30px;
    }
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

/* microposts */

.microposts {
  
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 5px;
    border-top: 1px solid #e8e8e8;
  }
}

.avatar {
  margin: 10px auto;
}

.content {
  display: block;
}
.timestamp {
  color: $gray-light;
}

/* sidebar */

.stats {
  overflow: auto;
  padding-left: 25%;
  padding-top: 20px;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
}

/* For cloud at home page */

.hero-unit {
  height: 250px;
  text-align: center;
  padding-top: 70px;
  color: #FFFFE0;
  background: no-repeat;
  background-image: url("https://s3.eu-central-1.amazonaws.com/spaceparty/images/cloud.jpg");
  background-position: center;
}

.about, .help-page {
  text-align: center;
  p {
    font-size: 16px;
  }
}

/* for micropost textarea counter */
#counter {
  display: inline;
  color: $gray-light;
}